<footer class="footer">
  <div class="container">
    <hr>
    <div class="footer-3">
      <h3>Music Store Stations</h3>
      <p>Dream your moments, Until I Met You, Gimme Some courage, Dark Alley, One More Of A Stranger, Endless
        Thing, The heartbeat Stops, Walking Promises, Desired Game and many more...</p>
      <p>Powered by <i>aptech.ac.vn</i></p>
    </div>
    <div class="footer-3">
      <h3>Download Our App</h3>
      <p>Go Mobile with our app. Listen to your favourite songs at just one click. Download Now !</p>
      <img src="img/app_store.jpg">
      <img src="img/windows.jpg">
      <img src="img/google_play.jpg">
    </div>
    <div class="footer-3">
      <h3>Contact Us</h3>
      <p>call us: (+84) 24-7300-8855, (+84) 28-7300-8866</p>
      <p>Email us: <i>demo@gmail.com</i>,<i>fpt-aptech@gmail.com</i></p>
      <p>Wailk in: Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, HN</p>
      <p>590 cách Mạng Tháng Tám, Quận 3, TPHCM</p>
    </div>
  </div>
</footer>